* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border-radius:10px;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* HOME-TOP */
#container {
    display:flex;
    flex-direction:column;
    padding: 8px 200px;
    background-color: black;   
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

.logo {
    display:flex;
    flex-shrink:0;
    
}

.links {
    display:flex;
    gap :16px;
}

/* HOME-BOTTOM */
.bottom-head {
    display:flex;
    justify-content: center;
    gap:16px;
    padding:16px;
}

.left-stuff {
    color:aliceblue;
    width:400px;
    display:flex;
    align-items:start;
    flex-direction:column;
    text-align:start;
    justify-content:space-around;
    
}

.bio {
    font-size:20px;
}

.instagram {
    color: #F9FAF8;
    background-color: #728996;
    border: none;
    font-size:20px;
    border-radius: 10px;
    padding: 8px 24px;
}

/* ALBUMS */
#head-albums {
    display:flex;
    flex-direction:column;
    padding: 8px;
    background-color:azure;
}

.hero {
    text-align:center;
    padding:12px;    
}

.super-card {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap:wrap;
    padding-bottom: 20px;
}
.card {
    max-width: 200px;;
}

/* QUOTE-TEXT */
.quotes {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    font-size:24px;
    background-color: #b8c4cb;
    padding:16px;
}

.text {
    width:800px;
}

.author {
    font-style:italic;
}

/* MESSAGE */
#message {
    display:flex;
    padding:24px;
    margin: 24px;
    margin-right:100px;
    margin-left:100px;
    border-radius: 10px;
    background-color:antiquewhite;
    justify-content: center;
    align-items: center;
}

.texts {
    margin-right:auto;
}

.mesage-info {
    font-size:24px;
}

.no-cape {
    color: #F9FAF8;
    background-color: brown;
    border: 1px #F9FAF8 solid;
    border-radius: 10px;
    padding: 8px 24px;
    border: none;
    font-size:20px;
    justify-content:center;
}

/* Footer Start */
.footer {
    text-align: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 16px;
}